---
layout: archive
title: "Research Program"
permalink: /portfolio/
author_profile: true
---

<p><strong>Developing autonomous robotic systems capable of operating reliably in uncertain and challenging environments.</strong></p>
<p>
My research integrates intelligent decision-making, probabilistic state estimation, robotic perception, and autonomous robotic systems to address challenges in marine robotics, environmental monitoring, industrial automation, and defence.
</p>
<hr>
<h2>Research Pillars</h2>

{% include base_path %}


{% for post in site.portfolio %}
  {% if post.type == "pillar" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

